* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
}

.app {
  width: 550px;
  background-color: #fff;
  margin: 50px auto;
  font-family: "Inter", sans-serif;
}

.journal {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: #f55a5a;
  align-items: center;
  padding-block: 20px;
}

.journal-text {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.075em;
}
